*{margin: 0; padding: 0;}

/*---------------------------------------------------------------------------------map--------------------------------------------------------------------------------------------------------*/
.grayFon{position: fixed; width: 100%; height: 100%; display: none; background-color: #000000; opacity: 0; z-index: 1000; top: 0; right: 0; bottom: 0; left: 0;}

.closeBtn{position: absolute; right: 25px; top: -40px; cursor: pointer;}
.mapBox{float: left; width: 1400px; height: 700px; opacity: 0; position: absolute; top: -9999px; left: -9999px; z-index: 1050; background-color: #ffffff;}
.mapBox.pos{top: 0; left: 0;}



/*---------------------------------------------------------------------------------map end----------------------------------------------------------------------------------------------------*/


















